<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/<%=id %>?_method=PUT" method="POST">
        <input id="name" type="text" name="name" placeholder="name">
        <input id="url" type="text" name="url" placeholder="url">
        <input id="submit" type="submit" value="Submit your bookmark">
    </form>
</body>

</html>